<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- THÊM MỚI: Permissions cho việc đọc file -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="application/vnd.ms-powerpoint" />
        </intent>
    </queries>

    <application
        android:name=".MyLearningApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLearning">
        <activity
            android:name=".view.RequestNotiActivity"
            android:exported="false" />
        <activity
            android:name=".view.RequestAllFileActivity"
            android:exported="false" />
        <activity
            android:name=".view.LanguageActivity2"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ResultUninstallActivity"
            android:exported="false" />
        <activity
            android:name=".view.UninstallWarningActivity"
            android:exported="false" />
        <activity
            android:name=".view.ClearDefaultGuideActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentActivity" />
        <activity
            android:name=".view.FeatureRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".view.PremiumActivity"
            android:exported="false" />
        <activity
            android:name=".view.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.ScreenshotActivity"
            android:exported="false" />
        <activity
            android:name=".view.FileEventPopupActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/Theme.MyLearning.FileEventPopup" />
        <activity
            android:name=".view.SelectActivity"
            android:exported="false" />
        <activity
            android:name=".view.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- Nhận mở PPT/PPTX -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity> <!-- THÊM MỚI: FileProvider -->
        <service
            android:name=".service.FileWatchService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Widget1 -->
        <receiver
            android:name=".widget.WidgetPage1Provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_page1_info" />
        </receiver> <!-- Widget2 -->
        <receiver
            android:name=".widget.WidgetPage2Provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_page2_info" />
        </receiver> <!-- Widget3 -->
        <receiver
            android:name=".widget.WidgetPage3Provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_page3_info" />
        </receiver>
    </application>

</manifest>